{% extends "base.html" %}
{% block content %}
<div class="helper">
    DAY {{ day }}
<span><br>
        INSTRUCTIONS<br>
        1. Listen carefully<br>
        2. Record your version<br>
        3. Listen to your recording<br>
        4. Compare<br>
        5. Listen to the original again<br>
        6. Repeat until you're satisfied</span><br>

      <form action="{{ url_for('play') }}" method="post">
        {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                 <p>{{ message }}</p>
                {% endfor %}
              {% endif %}
            {% endwith %}
        <button type="submit" class="btn btn-dark btn-lg">START</button>

      </form>
      <button type="submit" class="btn btn-secondary btn-lg">STOP</button>
</div>
{% endblock %}